/**IMPORT DES TYPOS**/
      
    @font-face {
        font-family: Mazius;
        src: url(../font/MAZIUSAMAPfrom20.09-Regular.otf);
        font-weight: 300;
      }

      @font-face {
        font-family: Inter;
        src: url(../font/Inter-Regular.ttf);
        font-weight: 300;
      }

      @font-face {
        font-family: Inter;
        src: url(../font/Inter-Bold.ttf);
        font-weight: 600;
      }

    /**STYLES**/

      body {
        color: #505050;
        font-family: Inter, sans-serif;
        background-color: #a6e1a6;
        background-image: url("https://amaplq.codeberg.page/espace-amapien/tutoriels/clic-amap/img/logo-blanc-50.png");
          background-repeat: no-repeat;
          background-position: -40px -40px;
      }

      section{
        margin-top: 2em;
        max-width: 42em;
        margin: auto;
        background-color: white;
        padding: 1em 0 1em 0;
      }

      article{
        max-width: 36em;
        margin: auto;
      }

      h2{
        font-size: 3em;
        font-family: Mazius, serif;
        line-height: 110%;
        font-weight: 300;
      }

      h6{
        font-size: 1em;
        margin-top: -2em;
        margin-bottom: 0;
      }

      a{
        text-decoration: none;
        color: #6BCC6B;
        font-weight: 600;
      }


      button{
        background-color: #6BCC6B;
        color: white;
        border: none;
        padding: 12px;
        font-size: 16px;
        box-shadow: 0 2px 4px #505050;
        cursor: pointer;
        transition: all 0.2s ease;
        margin: 13px auto 13px auto;
      }

      button:hover{
        background-color: #62A362
      }

      .button-rounded{
        height: 45px;
        border-radius: 30px;
      }

      #titre{
        text-align: center;
      }

      .note{
        color: #6BCC6B;
        font-weight: 600;
        text-align: center;
        margin: 1em auto 1em auto;
      }

      .petit{
        font-size: 0.8em;
      }

      .calendrier {
        border-collapse: collapse;
        width: 100%;
        max-width: 36em;
        margin: 0 auto 0 auto;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        table-layout: fixed;
        th, td {
          text-align: center;
          padding: 8px;
          font-size: 1.5em;
          font-family: Inter, sans-serif;
          font-weight: 300;
          color: #6BCC6B;
        }
        th {
        background-color: #6BCC6B;
        color: white;
        font-size: 1.7em;
        font-family: Mazius, serif;
        }
        td {
          width: 11.11%;
          padding: 2px;
          font-weight: 600;
        }
        tr:nth-child(even){background-color: #EFF5E7}

        .vacances{
          border-left: #6BCC6B solid 4px;
        }

        .pictoprod{
          width:100%;
          max-width: 4em;
        }
      }


      hr{
          margin-top: 3em;
          margin-bottom: 3em;
          width: 10em;
          border: 2px solid #505050;
      }
      
      #aide, #encart-logo{
        text-align: center;
      }

      #logo{
        width: 66%;
        margin: auto;
      }

      .print{
        display:none;
      }

      #credits{
          text-align: center;
      }

    /**MEDIA QUERIES**/

      /* petit mobile */

      @media all and (max-width: 320px){
      
        body{
            background-image: none;
        }

        section{
            padding: 20px 20px 20px 20px;
            margin:10px 10px 10px 10px;
        }

        h1{
            font-size: 1.8em;
        }

        h2{
            font-size: 1.6em;
        }

        h6{
            margin-top: -0.5em;
        }

        th{
            font-size: 1.2em;
        }

        td{
          font-size: 1em;
        }
        p{
            font-size: 0.7em;
        }
      }

      /* mobile */

      @media all and (min-width: 321px) and (max-width: 480px){
      
        body{
            background-image: none;
        }

        section{
            padding: 10px 30px 30px 30px;
            margin:15px 15px 15px 15px;
            }

        h1{
            font-size: 2em;
        }

        h2{
            font-size: 1.8em;
        } 

        h6{
            margin-top: -0.5em;
        }

        th{
          font-size: 1.3em;
        }

        td{
          font-size: 1.1em;
        }
      }

      /* tablette portrait */

      @media all and (min-width: 481px) and (max-width: 768px){
        body{
              background-position: -10px -10px;
              background-size: 15%;
          }

          section{
              padding: 30px 30px 30px 30px;
              width: 75%;
          }
      }

      /* tablette paysage */

      @media all and (min-width: 769px) and (max-width: 960px){

        section{
            padding: 30px 30px 30px 30px;
            max-width: 600px;
        }
      }

      /* impression */

      @media print {

        body{
          padding-top: 0;
          margin-top: 0;
        }

        .dpage{
          page-break-after: always;
          width: 200mm;
          height:230mm;
        }

        #dpage1{
          background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/logo-vert.png");
          background-repeat: no-repeat;
          background-position: -0.5cm 0cm;
          background-size: 3cm;
          border-top: #7d7d7d solid 1px;
          border-bottom: #7d7d7d solid 1px;
        }

        #part2{
          padding-top: 10mm;
        }

        #entete, .part, #pieddepage{
          display: flex;
          width: 180mm;
          padding: 0 10mm 0 10mm;
          justify-content: space-between;
          margin: auto;
        }

        body{
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
        }

        header,  footer,  nav {
          display: none !important;
        }

        section{
          width: 200mm;
          height: 230mm;
          padding: 0;
          margin: 0 0 0 3mm;
          
        }

        article{
          width: 200mm;
          height: 220mm;
          margin:0;
        }


        #titre, #legende, #aide, #encart-logo{
          width: 80mm;
        }

        #legende{
          font-size: 14px;
          display: flex;
          align-items: center;
  
          p{margin:-2px;}
          td{height: min-content;}
          .pictoprod{
            width: 0.7cm;
          }
  
        }

        .note{
          font-size:13px;
        }

        .petit{
          padding-top: 5px;
        }

        #aide{
          font-size: 14px;
          padding-top: 10px;
          p{margin:auto;margin-top: 3px;}
        }

        #encart-logo{
          text-align:right;
          #logo{
            width: 5.2cm;
            height: 2.8cm;
            object-fit: cover;
            object-position: 20% 10%;
          }
        }

        #qrcode{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 13px;
          margin-top: -15px;
          img{width: 1.5cm; height: 1.5cm; margin-left: 0.3cm;}
          text-align: right;
        }

        #encart-legal{
          width: 200mm;
          font-size:9px;
          color: #50505080;
          p{width: 200mm; white-space: nowrap; margin:0 0 5px 1cm;}
        }

        .calendrier {
          margin: 0;
          width: 80mm;
          font-size:12px;
        }

        h2{
          font-size: 2.7em;
        }

        

        p, a{
          max-width: 70mm;
        }

        th{
          font-size: 1.2em;
          padding: 2mm;
        }

        td{
          font-size: 1em;
        }

        .print{
          display: inline-block;
        }

        .online, button{
          display: none!important;
        }

        #credits{
          display: none;
        }

      }

      @page{
        margin: 0;
        margin-top: 3cm;
        padding-top: 1cm;
      }